.menu {position: relative;overflow: hidden;}
.abs1 {
    position: absolute;
    right: -100px;
    top: 200px;
    width: 450px;
    filter: opacity(.5);
}
.abs2 {
    position: absolute;
    left: -40px;
    bottom: 60px;
    width: 150px;
    filter: opacity(.5);
}
.sub {
    border-left: 2px solid var(--sub-color);
    box-shadow: 0px 0px 4px 0px #eee;
    margin-top:30px;
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
    width: 500px;
  }
  .sub li {
    color: var(--main-color);
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 25px;
    margin: 7px 2px;
    border: 1px solid #e8f6f5;
    transition: all .3s ease-in-out;
  }
  .sub li:hover , .sub li.clicked
   {background-color: var(--sub-color);;color: #fff;}

  .pattern {filter: opacity(.5);}